@page {
    margin: 0px;
}

html {
    margin: 0;
}

body {
    width: 609pt;
    height: 935pt;
    margin: 0 auto;
    font-size: 10.5pt;
}

.menimbang tr {
    line-height: 1;
}

.untuk tr {
    line-break: 1;
}

.bg {
    position: absolute;
    width: 175mm;
    margin-top: 220px;
    opacity: 0.2;
    z-index: -9999;
}

.pd {
    padding: 1.5cm 2cm 0 2cm;
    height: 310mm;
}

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.taj {
    text-align: justify;
}

.vat {
    vertical-align: text-top;
}

.logo {
    width: 65px;
}

.fs11 {
    font-size: 11pt;
}

.fs12 {
    font-size: 12pt;
}

.fs13 {
    font-size: 13pt;
}

.fs14 {
    font-size: 14pt;
}

.fs15 {
    font-size: 15pt;
}

.fs16 {
    font-size: 16pt;
}
